@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap');

body {
    max-width: 1200px;
    background-color: rgb(42, 185, 233);
    margin: auto; 
    font-family: 'Lora', serif;
}

header {
    width: 400px;
    position: fixed;
    left: 25px;
    top: 25px;
    font-family: 'DM Serif Text', serif;
    line-height: 15px;
}

nav {
    background-color: rgb(201, 221, 221);
    border-radius: 25px;
    text-align: center;
    width: 650px;
    margin-left: 340px;
    margin-top: 25px;
    padding: 15px;
    font-size: xx-large;
    font-family: 'DM Serif Text', serif;
} 

main {
    width: 650px;
    margin-left: 350px;
}

section {
    background-color: rgb(201, 221, 221);
    border-radius: 25px;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    font-family: 'Montserrat', serif;
}

section img {
    border-radius: 25px;
    filter: drop-shadow(20px 20px 20px black);
    text-align: center;
}

section video {
    border-radius: 25px;
    filter: drop-shadow(20px 20px 20px black);
}

.column { 
    float: left;
    width: 32%;
    padding: 2px;
  }
  
.row::after {
    content: "";
    clear: both;
    display: table;
  }

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color:black;
}

a:hover {
    color:blue;
    transform: scale(2);
}

footer {
    background-color: rgb(201, 221, 221);
    width: 100px;
    text-align: center;
    bottom: 25px;
    margin-left: 1100px;
    font-family: 'DM Serif Text', serif;
    border-radius: 25px;
    filter: drop-shadow(20px 20px 20px black);
}

#opengif {
    text-align: center;
    margin-top: 15%;
    filter: drop-shadow(20px 20px 20px black);
}
